<div class='card'>
  <div class='card-header'>
      {{pageTitle}}
  </div>
  <div class='card-body'>
      <div class='row'>
          <div class='col-md-2'>Filter By:</div>
          <div class='col-md-4'>
              <input type='text' 
                   [(ngModel)]='listFilter' />
          </div>
      </div>
      <div  class='row'>
          <div class='col-md-6'>
              <h4>Filtered by: {{listFilter}}</h4>
          </div>
      </div>
      <div class='table-responsive'>
          <table class='table'
                      *ngIf='equipmentList && equipmentList.length' >
              <thead>
                  <tr>
                      <th>
                          <button class='btn btn-primary' (click)='toggleImage()'>
                              {{ showImage  ? 'Hide' : 'Show' }} Image
                          </button>
                      </th>
                      <!-- <th>name</th>
                      <th>tierDescription</th>
                      <th>tierNumber</th>
                      <th>upgradeLevel</th>
                      <th>statRequirements</th>
                      <th>attack</th>
                      <th>upgradeMaterials</th>
                      <th>splithiumRequired</th>
                      <th>upgradeTime</th>
                      <th>durability</th>
                      <th>shopCost</th>
                      <th>restockTimer</th> -->
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let equipment of filteredEquipment'>
                      <td>
                          <!--<img
                              [src]='equipment.imageUrl'
                              [title]='equipment.equipmentName'
                              [style.width.px]='imageWidth'
                              [style.margin.px]='imageMargin'>-->
                      </td>
                    <div class="grid-container">
                      <div class="grid-item">Name: {{ equipment.name + " " + equipment.upgradeLevel }}</div>
                      <div class="grid-item">Tier: {{ equipment.tierNumber }}</div>
                      <div class="grid-item">Req: {{ equipment.statRequirements }}</div>
                      <div class="grid-item">ATK: {{ equipment.attack }}</div>
                      <div class="item1">Cost: {{ equipment.upgradeMaterials }}</div>
                      <div class="grid-item">{{ equipment.splithiumRequired }}</div>
                      <div class="grid-item">{{ equipment.upgradeTime }}</div>
                      <div class="grid-item">{{ equipment.durability }}</div>
                      <div class="grid-item">{{ equipment.shopCost }}</div>
                      <div class="grid-item">{{ equipment.restockTimer }}</div>
                    </div>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
